$("#university").html("");
$('#university').append("University: ");
$('#university').append("#{escape_javascript(select_tag "university", options_from_collection_for_select(@universities, "id", "name"))}");
