.navbar.navbar-inverse
  .navbar-inner
    .container
      .brand
        Shahrzad Faghihi
      .brand.pull-right
        Ruby on Rails Tutorials
      .nav-collapse.collapse.navbar-inverse-collapse
        .nav.pull-right

          %a{:class => 'dropdown-toggle brand', "data-toggle" => 'dropdown'}
            Tutorials 
            .caret
          %ul.dropdown-menu
            %li
              Ajax
            %li
              Twitter Bootstrap
            %li
              Google Visualization
